.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
h6 {
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.card-registration .select-arrow {
  top: 13px;
}
.left {
  background-image: linear-gradient(
    to right top,
    #9e8bc9,
    #947dbd,
    #8b6fb1,
    #8261a5,
    #795399,
    #72579f,
    #695ca4,
    #6060a8,
    #5476ba,
    #4b8cc6,
    #4da0cf,
    #5ab3d5
  );
}

.left-drawer {
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/ChatBot_Isometric_02_generated.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  object-fit: contain;
}
.left-side {
  padding: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4.8rem;
  height: 100%;
  color: #fff;
}

.Chat-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.img-fluid {
  height: 4rem;
  width: 4.5rem;
  border-radius: 50%;
}
.left-side h5 {
  font-size: 1.5rem;
  font-weight: 200;
}

.left-side h5 p {
  font-size: 1rem;
}
/* label {
  font-size: 1.2rem;
} */
