.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.left-side {
  padding: 4.8rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  height: 100%;
}
.img-fluid {
  height: 12rem;
}
.left-drawer {
  background-color: #cbdbfb;
}
/* label {
  font-size: 1.2rem;
} */
