@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");

.messenger {
  height: 100vh;
  display: flex;
}

.chatMenu {
  flex: 2;
  background-color: #cbdbfb;
  border-radius: 18px;
  clear: left;
  opacity: 1;
}

.chatBox {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatBoxWrapper {
  height: 95%;
  width: 95%;
  padding: 0 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #cbdbfb;
  border-radius: 15px;
}

.chatBoxWrapper > h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
}

.chatBoxTop {
  height: 90%;
  overflow-y: scroll;
  padding-left: 0.4rem;
}

.chatBoxBottom {
  margin: 0.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 85%;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.chatlogoutButton {
  background-color: #0554f2;
  color: white;
  border: none;
  border-radius: 8px;
  height: 3rem;
  width: 25%;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}
.chatlogoutButton:hover {
  background-color: #a7c0f2;
  color: black;
  font-weight: 600;
}
.chatSubmitButton {
  width: 12%;
  height: 3rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 0.5rem;
  background-color: #0554f2;
  color: white;
  text-align: center;
}

.chatMenuWrapper {
  padding: 0 1rem;
  height: 95%;
}

.chatMenuWrapper > p {
  font-size: 1.2rem;
  margin: 1.5rem auto;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}

.sendButtonImg {
  width: 25px;
  height: 30px;
  object-fit: cover;
}

.mobile-menu {
  display: none;
}
/* .menu {
  display: inline-block;
  float: right;
} */
.cross {
  display: none;
}
.mobile-menu {
  display: none;
  /* display: inline-block; */
  float: right;
  cursor: pointer;
}
.mainMenu {
  display: block;
}
.DesktopMenu {
  display: block;
  /* display: inline-block; */
  float: right;
  cursor: pointer;
}
.hideDesktopMenu {
  display: none;
}
/* .close {
  display: block;
}
/* .open {
  display: none;
} */
/* .bi-list {
  display: none;
}
.bi-x-circle-fill {
  display: none;
} */

@media only screen and (max-width: 800px) {
  .DesktopMenu {
    display: none;
  }
  .mobile-menu {
    display: block;
    /* display: inline-block; */
    float: right;
    cursor: pointer;
  }
  .menu {
    font-weight: 600;
  }
  .hideMobileMenu {
    display: none;
  }
  .menuSheet {
    position: fixed;
    width: 70%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem 1rem 0 0;

    background-color: white;
    box-shadow: 19px -1px 30px -12px rgba(0, 0, 0, 0.58);

    z-index: 2;
  }
  .chatMenu {
    display: block;
    position: fixed;
    z-index: 3;
    width: 60%;
    height: 100%;
    margin: 1rem;
  }
  .chatlogoutButton {
    width: 90%;
  }

  .cross {
    display: block;
    float: right;
    /* font-weight: 600; */
    cursor: pointer;
  }

  /* .chatBox {
    z-index: -1;
  } */
  /* .bi-list {
    display: block;
  }
  .bi-x-circle-fill {
    display: block;
  }
  .close {
    display: none;
  }
  .open {
    display: none;
  } 
   .chatMenu {
    display: none;
  }
  .toggle_label i {
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    min-width: 78px;
    text-align: center;
    color: rgb(8, 1, 1);
    cursor: pointer;
  }
  .toggle_label1 i {
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    min-width: 78px;
    text-align: center;
    color: rgb(180, 23, 23);
    cursor: pointer;
  } */
}
@media only screen and (max-width: 375px) {
  .chatSubmitButton {
    width: 4.5rem;
    height: 2.7rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 0.5rem;
    background-color: #0554f2;
    color: white;
    text-align: center;
    text-size-adjust: auto;
  }
  .chatBoxBottom {
    margin-right: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sendButtonImg {
    width: 13px;
    height: 22px;
    object-fit: cover;
  }
}
